* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto;
  scroll-behavior: smooth; 
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding: 0
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  color: #000;
  text-decoration: none;
  transition: .8s;
}
.nav-link:hover {
  color: #256EEB;
  text-decoration: underline;
}